# Variables de entorno de PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Variables de entorno de Traccar
PORT=
DEVICE_PORT=

# Variables de entorno para Autoheal
AUTOHEAL_CONTAINER_LABEL=
AUTOHEAL_INTERVAL=
AUTOHEAL_START_PERIOD=
